<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="panel-body">
    <div class="row">
      <img src="../../assets/images/logo.jpg"
           class="img-responsive center-block logo"
      />
    </div>
    <div class="row">
      <div class="text-center">Developed by:</div>
      <div class="h3 text-center">Deborah Kurata</div>
      <div class="text-center">@deborahkurata</div>
      <div class="text-center">
        <a href="http://www.bit.ly/DeborahKsBlog">www.bit.ly/DeborahKsBlog</a>
      </div>

      <div class="h5 text-center">Revised for Angular-cli 1.0.0 by:</div>
      <div class="h5 text-center">Fred Morrison</div>
      <div class="h5 text-center">April 2017</div>
    </div>
  </div>
</div>
